extends layout 
block content
  if (error)
    h1.text-danger #{error}
  else 
    h1.text-success #{msg}    
  .container-fluid(style='min-height: 80vh !important')
    .row
      .col.col-md-3.sidebar
      
        
        h1.py-3.text-center.text-light.bg-warning #{user.name}
        h3.text-center.text-light  #{user.branch}
        nav.nav.flex-column
        if user.role =='manager' || user.role =='agent'
          button.nav-link.text-light.btn.mb-3(data-id='cash')
            | Record Cash Sale
          button.nav-link.text-light.btn.mb-3(data-id='credit')
            | Record Credit Sale
        if user.role =='manager' 
          button.nav-link.text-light.btn.mb-3.active-btn(data-id='procure')
              | Record Received Stock
          button.nav-link.text-light.btn.mb-3(data-id='notification')
            | Notifications
          button.nav-link.text-light.btn.mb-3(data-id='registerstaff')
            | Create New Attendant
        if user.role =='director'    
          a#summary-btn.nav-link.text-light.btn.mb-3(href='/stats') View Sales Summary
          
      // PROCUREMENT INPUT DATA
      #procure.col.card.login-card.d-none
        .card-header
          h3 Record New Stock
        .card-body
          form.row.g-3(action="/sales/procurement" method="POST")
            .col-md-6
              label.form-label(for='produce-name') Product Name
              input#produce-name.form-control(type='text' name='producename' required='')
            .col-md-6
              label.form-label(for='produce-type') Produce Type
              input#produce-type.form-control(type='text' name='producetype' required='')
            .col-md-6
              label.form-label(for='produce-source') Produce Source
              select#produce-source.form-select(name='producesource')
                option(value='default') Choose Produce Source
                option(value='dealer') Dealer
                option(value='company') Company
                option(value='maganjo') Maganjo Farm
                option(value='matugga') Matugga Farm
            .col-md-6
              label.form-label(for='tonnage') Tonnage(in kgs)
              input#tonnage.form-control(type='number' name='tonnage' required='')
            .col-md-6
              label.form-label(for='date') Date
              input#date.form-control(type='date' name='date' required='')
            .col-md-6
              label.form-label(for='time') Time
              input#time.form-control(type='time' name='time' required='')
            .col-md-6
              label.form-label(for='cost-price') Cost Price(Ugx)
              input#cost-price.form-control(type='number' name='cost' required='')
            .col-md-6
              label.form-label(for='dealer-name') Dealer&apos;s Name
              input#dealer-name.form-control(type='text' name='dealer' required='')
            .col-md-6
              label.form-label(for='branch-name') Branch Name
              select#branch-name.form-select(name='branch')
                option(value='default') Choose Branch
                option(value='BA') Branch One
                option(value='BC') Branch Two
            .col-md-6
              label.form-label(for='contact') Dealer&apos;s Contact
              input#contact.form-control(type='tel' name='phone' required='')
            .col-md-6
              label.form-label(for='selling-price') Selling Price
              input#selling-price.form-control(type='number' name='sellingprice'  required='')
            .col-12
              button.btn.btn-primary(type='submit')
                | Submit Record
      // CASH SALES RECORDING
      #cash.col.card.login-card
        .card-header
          h3 Enter Cash Sale
        .card-body
          form.row.g-3(action="/sales/cashsale" method="POST")
            .col-md-6
              label.form-label(for='producename') Product Name
              select#producename.form-select(name='producename')
                option(value='default') Choose product
                //- if(products.length)
                //-   each product in products
                //-     option(value=product.produceName data-price=product.sellingPrice) #{product.produceName} - UGX  #{product.sellingPrice}

            .col-md-6
              label.form-label(for='price') Price(Ugx)
              input#price.form-control(type='number' name='price' readonly='true' required='')    
            .col-md-6
              label.form-label(for='salestonnage') Tonnage(in kgs)
              input#salestonnage.form-control(type='number' name='tonnage' required='')
            .col-md-6
              label.form-label(for='bill-paid') Amount Paid(Ugx)
              input#bill-paid.form-control(type='number' name='amountpaid' readonly='true' required='')
            .col-md-6
              label.form-label(for='branch-name') Branch Name
              input.form-control#branch-name(type='text' name='branch' readonly="true" value='')
                
            .col-md-6
              label.form-label(for='buyer-name') Buyer&apos;s Name
              input#buyer-name.form-control(type='text' name='customername' required='')
            .col-md-6
              label.form-label(for='agent-name') Agent&apos;s Name
              input#agent-name.form-control(type='text' name='agent' readonly='true' value='' required='')
            .col-md-6
              label.form-label(for='contact') Buyer&apos;s Contact
              input#contact.form-control(type='tel' name='phone' required='')
            .col-md-6
              label.form-label(for='date') Date
              input#date.form-control(type='date' name='date' required='')
            .col-md-6
              label.form-label(for='time') Time
              input#time.form-control(type='time' name='time' required='')
            .col-12
              button.btn.btn-primary(type='submit')
                | Submit Record
      // CREDIT SALES INPUT
      #credit.col.card.login-card.d-none
        .card-header
          h3 Record Credit Sale Here Details
        .card-body
          form.row.g-3(action="/sales/creditsale" method="POST")
            .col-md-6
              label.form-label(for='buyer-name') Buyer&apos;s Name
              input#buyer-name.form-control(type='text' name='customer' required='')
            .col-md-6
              label.form-label(for='buyer-location') Buyer&apos;s Location
              input#buyer-location.form-control(type='text' name='location' required='')
            .col-md-6
              label.form-label(for='buyer-id') ID Number(NIN)
              input#buyer-id.form-control(type='text' name='nin' required='')
            .col-md-6
              label.form-label(for='contact') Buyer&apos;s Contact
              input#contact.form-control(type='tel' name='phone' required='')
            .col-md-6
              label.form-label(for='produce-name') Product Name
              //- select#branch-name.form-select(name='producename')
              //-   option(value='default') Choose Produce
              //-   if(products.length)
              //-     each product in products
              //-       option(value=product.produceName) #{product.produceName}
                
            .col-md-6
              label.form-label(for='produce-type') Product Type
              select#branch-name.form-select(name='producetype')
                option(value='default') Choose Produce Type
                //- if(products.length)
                //-   each product in products
                //-     option(value=product.produceType) #{product.produceType}
                 
            .col-md-6
              label.form-label(for='tonnage') Tonnage(in kgs)
              input#tonnage.form-control(type='number' name='tonnage' required='')
            .col-md-6
              label.form-label(for='amount-paid') Amount Paid(Ugx)
              input#amount-paid.form-control(type='number' name='amountpaid' required='')
            .col-md-6
              label.form-label(for='amount-due') Amount Due(Ugx)
              input#amount-due.form-control(type='number' name='dueamount' required='')
            .col-md-6
              label.form-label(for='branch-name') Branch Name
              input#branch-name.form-control(type='text' name='branchname' readonly="true" value='' )
              
            .col-md-6
              label.form-label(for='date') Purchase Date
              input#date.form-control(type='date' name='purchasedate' required='')
            .col-md-6
              label.form-label(for='due-date') Due Date
              input#due-date.form-control(type='date' name='duedate' required='')
            .col-md-6
              label.form-label(for='dispatch-date') Dispatch Date
              input#dispatch-date.form-control(type='date' name='dispatchdate' required='')
            .col-md-6
              label.form-label(for='time') Dispatch Time
              input#time.form-control(type='time' name='dispatchtime' required='')
            .col-md-6
              label.form-label(for='agent-name') Agent&apos;s Name
              input#agent-name.form-control(type='text' name='agent' readonly="true" value='' required='')
            .col-12
              button.btn.btn-primary(type='submit')
                | Submit Record
      // Notifications
      #notification.col.card.login-card.mx-3.d-none
        h1.text-danger.card-header.bg-primary
          | The following products are out of stock.
        .container.d-flex.flex-wrap
          p.card.px-3.py-3.w-25.fs-4 Beans
          p.card.px-3.py-3.w-25.fs-4 Maize
          p.card.px-3.py-3.w-25.fs-4 Cowpeas
          p.card.px-3.py-3.w-25.fs-4 Soybeans
          p.card.px-3.py-3.w-25.fs-4 Soybeans
          p.card.px-3.py-3.w-25.fs-4 Soybeans
          p.card.px-3.py-3.w-25.fs-4 Soybeans

      #registerstaff.col.card.login-card.mx-3.d-none
          .card-header
                  h3 Create Employee Account
          .card-body
            form#register.row.mb-3.g-3(action='/users/createUser' method='POST')
              .col-md-6
                label.form-label(for='username') Sales Agent's Name
                input#username.form-control(type='text' name='username')
              .col-md-6
                label.form-label(for='user-email') Email
                input#user-email.form-control(type='email' name='email')
              .col-md-6
                label.form-label(for='user-password') Password
                input#user-password.form-control(type='password' name='password')
              .col-md-6
                label.form-label(for='employee-ID') Employee ID
                input#employee-ID.form-control(type='text' name='employeeid')
              .col-md-6
                label.form-label(for='userphone') Phone Number
                input#userphone.form-control(type='tel' name='phone')
              .col-md-6
                label.form-label(for='role') Role
                input#role.form-control(type='text' name='role' readonly='true'  value="agent")
                
              .col-md-6
                label.form-label(for='branch') Branch Name
                input#branch.form-control(type='text' name='branch' readonly='true' value=user.branch)
                
              .col-12
                button.btn.btn-primary(type='submit') Create
    

      include ./footer
      script(src='/js/bootstrap.min.js')
      script(src='/script/dashboard.js')
